<div id="maincomp">
  <div *ngFor="let file of files">
    <app-single-audio [file]="this.file"></app-single-audio>
  </div>

  <div id="mainSectionBts">
    <button class="btn btn-primary" (click)="playSongs()" id="playBtn">
      Play
    </button>
    <button class="btn btn-primary" (click)="stopSongs()" id="stopBtn">
      Stop
    </button>
    <button class="btn btn-primary" (click)="loopSongs()" id="loopBtn">
      {{ this.loop }}
    </button>
  </div>
</div>
<!-- 
(click)="playSongs()"
(click)="stopSongs()"
(click)="loopSongs()" -->

<!-- <button class="btn btn-primary" (click)="playSound()">Play</button> -->
